form{
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

#searchCompleteMessage{
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 5vw;
}

#wordsListContainer{
    width: 20rem;
    margin: auto;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    padding: 0px;
}

li{
    border-bottom: 2px black solid;
    margin: 5px;
}

a{
    text-decoration: none;
    color: black;
}

.pangram{
    background-color: aqua;
}

@media screen and (min-width: 400px) {
    #searchCompleteMessage {
       font-size: 16px;
    }
  }